body {
    background-color: black;
    font-family: "Raleway",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color:lightgoldenrodyellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.code-activator {
    text-align:center;
    margin-top: 20%;
    font-size: 0.8cm;
}
.first-task {
    text-align:center;
    margin-top: 10%;
    font-size: 0.8cm;
    color:lightgoldenrodyellow;
}
.second-task {
    text-align:center;
    font-size: 0.8cm;
    margin-top: 15%;
    color:yellow;
}
.third-task {
    text-align:center;
    font-size: 0.8cm;
    color:lightgoldenrodyellow;
}
.fourth-task {
    text-align:center;
    color:lightgoldenrodyellow;
}
.audio {
    text-align:center;
    margin-top: 5%;
}
.big-word {
    font-size: 2cm;
    color:lightyellow;
    margin-top: 10%;
    text-align: center;
}
.medium-word {
    font-size: 1cm;
    color:yellow;
    margin-top: 10%;
    text-align: center;
}
.finish {
    font-size: 2cm;
    color:orangered;
    text-align: center;
}
.finish-audio {
    font-size: 1cm;
    color:darkblue;
    text-align:center;
    margin-top: 30%;
}
.warning {
    color: lightcoral;
}
.bonus {
    color:orangered;
    text-align: center;
    font-size: 2cm;
}
.bottom {
    position:absolute;
    margin-left: 45%;
    bottom: 0;
}