<%= stylesheet_link_tag 'main_theme'%>
<%= javascript_include_tag 'jquery-1.10.0-beta1.min'%>
<%= javascript_include_tag 'main_theme'%>
<div id="step-1">
  <div class="big-word">НАЧНИ СВОЙ КВЕСТ</div>
  <div  class="code-activator">
    <div style="color:white">Введи Свой Код</div>
    <input type="number" id="code-number" style="text-align: center"/>
    <input type="button" value=">>" id="check-code" title="Проверить Код"/>
    <div class="warning"></div>
  </div>
</div>

<div id="step-2" style="display: none">
  
</div>

<div id="step-3" style="display: none">

</div>

<div id="step-4" style="display: none">

</div>

<div id="step-5" style="display: none">

</div>

<div id="finish" style="display: none">

</div>